#slider-type .ui-slider {width: 100%;}
.pull-right { float:right; }
.tag {height: 12px; margin-bottom: 2px; }

label.error {
		color: red;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.4;
		margin-top: 0.5em;
		width: 100%;
		float: none;
}
@media screen and (orientation: portrait) {
	label.error {
		margin-left: 0;
		display: block;
	}
}
@media screen and (orientation: landscape) {
	label.error {
		display: inline-block;
		margin-left: 22%;
	}
}
em {
	color: red;
	font-weight: bold;
	padding-right: .25em;
}



.home-img {	width: 100%;}
.home-img-desc {
	position: relative;
	margin-top: -170px;
	margin-bottom: 40px;
	color: white;
}
#nav-footer {
	background-color: white!important;
	border-color: white!important;
}
#nav-footer .ui-btn{color: #c9c9c9!important; font-weight: normal!important;}
#nav-footer .ui-btn-active{color: #ff2c61!important; font-weight: normal!important;}
.ui-btn-signup, .ui-btn-signin {
	background: white!important;
	border: none!important;
	color: #858585!important;
	font-weight: normal!important;
}
.ui-btn-signup{color: #ff286c!important;}
#logo {
	background-color: white!important;
	background-image: url(img/logo.png)!important;
	background-repeat: no-repeat!important;
	background-size: 60px 40px;
	width: 60px;
	border: none!important;
	color: white!important;
	
}
#search-form {  margin-top: -20px;}


.grid-one-third { width: 32%; display: inline-block; vertical-align:middle;}
.grid-two-third { width: 64%; display: inline-block; vertical-align:middle;}