.error {
		color: red;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.4;
		margin-top: 0.5em;
		float: none;
}
@media screen and (orientation: portrait) {
	.error { margin-left: 0; display: block; }
}
@media screen and (orientation: landscape) {
	.error {
		display: inline-block;
	}
}


.ui-btn {  font-weight: normal!important;}
.home-img {	width: 100%; }
.home-img-restrict {	width: 100%; max-height: 300px; }
.home-img-desc {
	position: relative;
	margin-top: -170px;
	margin-bottom: 40px;
	color: white;
}
#nav-footer {
	background-color: white!important;
	border-color: white!important;
}
#nav-footer .ui-btn{color: #c9c9c9!important; font-weight: normal!important; font-family: "microsoft yahei"!important; border:none!important;} 
#nav-footer .ui-btn-active{color: #ff2c61!important; font-weight: normal!important; font-family: "microsoft yahei"!important;border:none!important;}
#nav-footer .ui-btn-now{color: #ff2c61!important; font-weight: normal!important; font-family: "microsoft yahei"!important;border:none!important;}
.ui-btn-signup, .ui-btn-signin {
	background: white!important;
	border: none!important;
	color: #858585!important;
	font-weight: normal!important;
}
.ui-btn-signup{color: #ff286c!important;}
#logo {
	background-color: white!important;
	background-image: url(img/logo2.png)!important;
	background-repeat: no-repeat!important;
	background-size: 60px 40px;
	width: 60px;
	border: none!important;
	color: white!important;
	
}
.grey-header {color: #717171!important; font-weight: normal; font-size: 1.2em; text-decoration: none!important;} 
.succ-header {color: #03b43f!important; font-weight: normal; font-size: 1.2em; text-decoration: none!important;} 
#search-form {  margin-top: -20px;}
.ui-field-inline > label {display: inline-block;}
.ui-field-inline > div {display: inline-block; margin-left: 50px!important;}


.grid-one-third { width: 32%; display: inline-block; vertical-align:middle;}
.grid-two-third { width: 64%; display: inline-block; vertical-align:middle;}

.ui-icon-loc.ui-btn {
 background:transparent!important;
 border:none;color:white!important; 
 font-family:"microsoft yahei";
}
.ui-icon-leave:after {
  background-color: transparent;
  background-image: url("../images/icon/leave.png")!important;
  background-size: 18px 18px;
}
.ui-btn-active.ui-icon-leave:after {
  background-color: transparent;
  background-image: url("../images/icon/leave.png")!important;
  background-size: 18px 18px;
}
.ui-icon-trash:after {
  background-color: transparent;
  background-image: url("../images/icon/trash.png")!important;
  background-size: 18px 18px;
}
.ui-btn-active.ui-icon-trash:after {
  background-color: transparent;
  background-image: url("../images/icon/trash-active.png")!important;
  background-size: 18px 18px;
}
.ui-icon-home:after {
  background-color: transparent;
  background-image: url("../images/nav/funmi.png")!important;
  background-size: 20px 20px;
}
.ui-btn-active.ui-icon-home:after, .ui-btn-now.ui-icon-home:after {
  background-color: transparent;
  background-image: url("../images/nav/funmi-active.png")!important;
  background-size: 20px 20px;
}
.ui-icon-user:after {
  background-color: transparent;
  background-image: url("../images/nav/user.png")!important;
  background-size: 20px 20px;
}
.ui-btn-active.ui-icon-user:after, .ui-btn-now.ui-icon-user:after {
  background-color: transparent;
  background-image: url("../images/nav/user-active.png")!important;
  background-size: 20px 20px;
}
.ui-icon-gear:after {
  background-color: transparent;
  background-image: url("../images/nav/setting.png")!important;
  background-size: 20px 20px;
}
.ui-btn-active.ui-icon-gear:after, .ui-btn-now.ui-icon-gear:after {
  background-color: transparent;
  background-image: url("../images/nav/setting-active.png")!important;
  background-size: 20px 20px;
}
.ui-icon-info:after {
  background-color: transparent;
  background-image: url("../images/nav/about.png")!important;
  background-size: 20px 20px;
}
.ui-btn-active.ui-icon-info:after, .ui-btn-now.ui-icon-info:after {
  background-color: transparent;
  background-image: url("../images/nav/about-active.png")!important;
  background-size: 20px 20px;
}
.ui-icon-nofav:after {
  background-color: transparent;
  background-image: url("../images/icon/fav.png")!important;
  background-size: 22px 22px;
}
.ui-btn-active.ui-icon-nofav:after {
  background-color: transparent;
  background-image: url("../images/icon/fav.png")!important;
  background-size: 22px 22px;
}

.ui-icon-fav:after {
  background-color: transparent;
  background-image: url("../images/icon/fav-active.png")!important;
  background-size: 22px 22px;
}
.ui-btn-active.ui-icon-fav:after {
  background-color: transparent;
  background-image: url("../images/icon/fav-active.png")!important;
  background-size: 22px 22px;
}
.ui-icon-share:after {
  background-color: transparent;
  background-image: url("../images/icon/share.png")!important;
  background-size: 18px 18px;
}
.ui-btn-active.ui-icon-share:after {
  background-color: transparent;
  background-image: url("../images/icon/share-active.png")!important;
  background-size: 18px 18px;
}

.ui-icon-back:after {
  background-color: transparent;
  background-image: url("../images/icon/back.png")!important;
  background-size: 21px 46px;
}
.ui-btn-back.ui-icon-info:after {
  background-color: transparent;
  background-image: url("../images/icon/back-active.png")!important;
  background-size: 21px 46px;
}
.ui-icon-tag:after {
  background-color: transparent;
  background-image: url("../images/icon/tag.png")!important;
  background-size: 22px 22px;
}
.ui-btn-active.ui-icon-tag:after {
  background-color: transparent;
  background-image: url("../images/icon/tag.png")!important;
  background-size: 22px 22px;
}
.ui-icon-edit:after {
  background-color: transparent;
  background-image: url("../images/icon/edit.png")!important;
  background-size: 18px 18px;
}
.ui-btn-active.ui-icon-edit:after {
  background-color: transparent;
  background-image: url("../images/icon/edit-active.png")!important;
  background-size: 18px 18px;
}
.ui-icon-mail:after {
  background-color: transparent;
  background-image: url("../images/icon/mail.png")!important;
  background-size: 18px 14px;
}
.ui-btn-active.ui-icon-mail:after {
  background-color: transparent;
  background-image: url("../images/icon/mail.png")!important;
  background-size: 18px 14px;
}
.ui-icon-loc:after {
  background-color: transparent;
  background-image: url("../images/icon/loc.png")!important;
  background-size: 11px 11px;
}
.ui-btn-active.ui-icon-loc:after {
  background-color: transparent;
  background-image: url("../images/icon/loc.png")!important;
  background-size: 11px 11px;
}
.ui-btn-captcha {
	font-size: 0.5em!important; 
	line-height: 1.5; 
	background-color: transparent!important; 
	color: #ff3075!important;
	border-color: #ff3075!important;
	text-decoration: none!important;
	font-weight: normal!important;
}
.padding-div { padding-left: 10px; padding-right: 10px; font-size: 0.9em; }
.white-div {background: white!important; padding: 4px 4px; margin-top:-2px;}

#search-form .ui-input-search{background:#fff;border-color:#ff3057;color:#333}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-lg  {font-size: 1.2em;}
.pull-left {float: left;}
.pull-right {float: right;}
.pink {color: #ff3075}
.ui-btn-transparent, .ui-btn-transparent:visited, .ui-btn-transparent:hover { background:transparent!important; border-color: transparent!important; }

td.val {color:#717171; font-weight: bold; }
.keywords-label {padding: 6px 8px; background-color: #ffa3db; margin: 2px 10px; 
                font-size: 0.9em; display: inline-block; color: white; border-radius: 4px;  }
.keywords-label2 {padding: 10px 16px; background-color: #ffa3db; margin: 2px 10px; 
                font-size: 0.9em; display: inline-block; color: white; border-radius: 20px;  }
.keywords-label.blue {background: #7fd9ff; }
.keywords-label.yellow {background: #fcb355; }
.keywords-label.green {background: #a0d468; }
.keywords-label.red {background: #e5786d; }
table td, table th,  table td *, table th * { vertical-align: top; }
.round-icon { 
    width: 12px; height: 12px; 
    display: inline-block; 
    padding: 2px 2px;
    border: 2px solid #1cb354; 
    background: #1cb354; 
    border-radius: 10px; 
}
.round-icon.abled {
    background-color: #f2f2f2; 
    border: 2px solid #1cb354;
}
.houseinfo-table { font-size: 0.9em!important; }
.reserve-table .able {
	width: 30px; 
	height: 30px; 
	line-height: 30px;
    display: inline-block; 
    border: 2px solid #1cb354; 
    border-radius: 30px;
	background: transparent;
	color: #717171;
	cursor: pointer;
}
.reserve-table .selected{
	width: 30px; 
	height: 30px; 
	line-height: 30px;
    display: inline-block; 
    border: 2px solid #1cb354; 
    border-radius: 30px;
	background: #1cb354; 
	color: white;
	cursor: pointer;
}


.border-bottom {
    border-bottom: 1px solid #717171;
}
.my-list-count {
    background: none!important;
    border: none!important;
    color: #717171!important;
    font-weight: normal!important;
}
.navbar-stack li { line-height: 1.8!important;}
.navbar-image img {z-index: 999; border-radius: 100px!important;  padding: 10px 10px; background: transparent;}
.navbar-image li  a{  padding-top: 20px; line-height: 1.8!important;}

.form-table {width: 100%;   padding-right: 1em;}
.form-table th { vertical-align: middle; color: #717171; font-weight: normal;}
.form-table td { vertical-align: middle;}
.form-table .ui-btn { border-color: #bbb!important;}
.sel-table td {text-align: right; line-height: 2;}
.sel-table  a {text-decoration: none!important; color:#ff3075!important; font-weight: normal!important; }
.reserve-table {width: 100%;}
.reserve-table th, .reserve-table td {text-align: center; vertical-align: middle;}
.reserve-table tbody td {  height: 50px; font-size: 0.7em; }
.reserve-table tbody{   border-bottom:1pt solid black; }
.info-table {width: 100%; margin-bottom: 10px;}
.share-table img {width: 50%; padding: 20px 20px;}

.div-link {margin: 0!important; text-decoration: none!important}
.div-link h2 {color: white!important; }
.multi-input-cell .ui-input-text {
	width: 35%;
	display: inline-block;
	vertical-align: middle;
}

.message-div {display: inline-block; padding: 10px 10px; margin: 4px 4px; width: 94%;}
.message-img-div {width: 20%; display: inline-block; padding-top: 4px; text-align: center;}
.message-img-div img {width: 74%; border-radius: 10px;}
.message-text-div {
	width: 75%;display: inline-block; vertical-align: top; 
	background: #80daff; color: white; padding: 2px 6px; 
	border-radius: 6px;
}
.message-text-div.text-inverse {
	background: #52ce8f;
}

#device-item-div {
    padding-top: 20px;
    width: 100%;
    display: inline-block;
    margin: auto auto;
    padding: none!important;
}
.device-item {
    display: inline-block;
    width: 50%;
    min-height: 70px;
    vertical-align: middle;
    text-align: center;
}
.device-item img {
    width: 50px;
    height: 50px;
}


#room-div {
    width: 100%;
    display: inline-block;
    margin: auto auto;
    padding: none!important;
}

.room-item {
    display: inline-block;
    width: 33%;
    min-height: 70px;
    vertical-align: middle;
    text-align: center;
}
.room-taken, .room-no-taken {
    margin-top: 6px;
    margin-bottom: 6px;
    background: #b1b1b1;
    display: inline-block;
    padding: 8px 10px;
    color: white;
    border-radius: 4px;
} 
.room-no-taken {
    background: #1ab454;
} 
 

.popup-div {
  max-width:280px; 
  padding: 10px 10px;
  margin: auto auto;
}
 

.popup-div {
  max-width:280px; 
  padding: 10px 10px;
  margin: auto auto;
}
