label.error {
		color: red;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.4;
		margin-top: 0.5em;
		width: 100%;
		float: none;
}
@media screen and (orientation: portrait) {
	label.error {
		margin-left: 0;
		display: block;
	}
}
@media screen and (orientation: landscape) {
	label.error {
		display: inline-block;
		margin-left: 22%;
	}
}



.home-img {	width: 100%; }
.home-img-desc {
	position: relative;
	margin-top: -170px;
	margin-bottom: 40px;
	color: white;
}
#nav-footer {
	background-color: white!important;
	border-color: white!important;
}
#nav-footer .ui-btn{color: #c9c9c9!important; font-weight: normal!important;}
#nav-footer .ui-btn-active{color: #ff2c61!important; font-weight: normal!important;}
.ui-btn-signup, .ui-btn-signin {
	background: white!important;
	border: none!important;
	color: #858585!important;
	font-weight: normal!important;
}
.ui-btn-signup{color: #ff286c!important;}
#logo {
	background-color: white!important;
	background-image: url(img/logo.png)!important;
	background-repeat: no-repeat!important;
	background-size: 60px 40px;
	width: 60px;
	border: none!important;
	color: white!important;
	
}
.grey-header {color: #717171!important; font-weight: normal; font-size: 1.2em; text-decoration: none!important;} 
#search-form {  margin-top: -20px;}


.grid-one-third { width: 32%; display: inline-block; vertical-align:middle;}
.grid-two-third { width: 64%; display: inline-block; vertical-align:middle;}

.ui-icon-home:after {
  background-color: transparent;
  background-image: url("../images/nav/funmi.png")!important;
  background-size: 22px 22px;
}
.ui-btn-active.ui-icon-home:after {
  background-color: transparent;
  background-image: url("../images/nav/funmi-active.png")!important;
  background-size: 22px 22px;
}
.ui-icon-user:after {
  background-color: transparent;
  background-image: url("../images/nav/user.png")!important;
  background-size: 22px 22px;
}
.ui-btn-active.ui-icon-user:after {
  background-color: transparent;
  background-image: url("../images/nav/user-active.png")!important;
  background-size: 22px 22px;
}
.ui-icon-gear:after {
  background-color: transparent;
  background-image: url("../images/nav/setting.png")!important;
  background-size: 22px 22px;
}
.ui-btn-active.ui-icon-gear:after {
  background-color: transparent;
  background-image: url("../images/nav/setting-active.png")!important;
  background-size: 22px 22px;
}
.ui-icon-info:after {
  background-color: transparent;
  background-image: url("../images/nav/about.png")!important;
  background-size: 22px 22px;
}
.ui-btn-active.ui-icon-info:after {
  background-color: transparent;
  background-image: url("../images/nav/about-active.png")!important;
  background-size: 22px 22px;
}
.ui-icon-fav:after {
  background-color: transparent;
  background-image: url("../images/icon/fav.png")!important;
  background-size: 22px 22px;
}
.ui-btn-active.ui-icon-fav:after {
  background-color: transparent;
  background-image: url("../images/icon/fav-active.png")!important;
  background-size: 22px 22px;
}
.ui-icon-share:after {
  background-color: transparent;
  background-image: url("../images/icon/share.png")!important;
  background-size: 18px 18px;
}
.ui-btn-active.ui-icon-share:after {
  background-color: transparent;
  background-image: url("../images/icon/share-active.png")!important;
  background-size: 18px 18px;
}

.ui-icon-back:after {
  background-color: transparent;
  background-image: url("../images/icon/back.png")!important;
  background-size: 21px 46px;
}
.ui-btn-back.ui-icon-info:after {
  background-color: transparent;
  background-image: url("../images/icon/back-active.png")!important;
  background-size: 21px 46px;
}
.ui-icon-tag:after {
  background-color: transparent;
  background-image: url("../images/icon/tag.png")!important;
  background-size: 22px 22px;
}
.ui-btn-active.ui-icon-tag:after {
  background-color: transparent;
  background-image: url("../images/icon/tag-active.png")!important;
  background-size: 22px 22px;
}
.ui-icon-loc:after {
  background-color: transparent;
  background-image: url("../images/icon/tag.png")!important;
  background-size: 11px 11px;
}
.ui-btn-active.ui-icon-loc:after {
  background-color: transparent;
  background-image: url("../images/icon/tag-active.png")!important;
  background-size: 11px 11px;
}
.padding-div { padding-left: 8px; padding-right: 8px; }

#search-form .ui-input-search{background:#fff;border-color:#ff3057;color:#333}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-lg  {font-size: 1.2em;}
.pull-left {float: left;}
.pull-right {float: right;}
.pink {color: #ff3075}
.ui-btn-transparent, .ui-btn-transparent:visited, .ui-btn-transparent:hover { background:transparent!important; border-color: transparent!important; }

td.val {color:#717171; font-weight: bold; }
.keywords-label {padding: 4px 8px; background-color: #ffa3db; margin: 2px 10px; 
                font-size: 0.8em; display: inline-block; color: white; border-radius: 4px;  }
.keywords-label.blue {background: #7fd9ff; }
.keywords-label.yellow {background: #fcb355; }
.keywords-label.green {background: #a0d468; }
.keywords-label.red {background: #e5786d; }
table td, table th,  table td *, table th * { vertical-align: top; }
.round-icon { 
    width: 12px; height: 12px; 
    display: inline-block; 
    padding: 2px 2px;
    border: 2px solid #ffa9b4; 
    background: #ffa9b4; 
    border-radius: 10px; 
}
.round-icon.disabled {
    background: white; 
    border-color: white; 
}
.round-icon.abled {
    background-color: #f2f2f2; 
    border: 2px solid #ffa9b4;
}
