<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>房蜜</title>
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="css/themes/flat/jquery.mobile.flatui.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.mobile-1.4.5.min.js"></script>
        <script src="js/tempo.min.js" type="text/javascript"></script>
    </head>

    <body>
        <div id="house-detail-page" data-role="page">
            <!-- HEADER -->
            <div data-role="header">
                <a href="#" data-rel="back" class="ui-btn-transparent" data-icon="back" data-iconpos="notext" data-shadow="true" data-iconshadow="true">返回</a>
                <h2 class="grey-header">房源详情</h2>
                <a href="share.html" class="ui-btn-transparent" data-icon="share" data-iconpos="notext" data-shadow="true" data-iconshadow="true">分享</a>
                <script src="js/main.js"></script>
                <script src="js/app/apartment.js"></script>
            </div>
            <!-- ./HEADER -->

            <!-- MAIN -->
            <div id="house-detail" role="main" class="ui-content" data-template>
                <div class="ui-grid-solo">
                    <center>
 <img class="home-img" src="images/home/pku.jpg" data-src="http://123.57.207.201:8080/{{photos[0].photo}}"></img>
                    </center>
                </div>

                <div class="ui-grid-solo padding-div">
                    <table class="houseinfo-table" style="width:100%">
                        <tr>
                            <td class="pink"><h3>{{title}}</h3></td>
                            <td class="text-right"> 
                                {% if (is_favorited) %}
                                <a title="取消收藏" href="#" class="ui-btn ui-corner-all ui-icon-fav ui-btn-icon-notext ui-btn-c ui-btn-inline ui-btn-transparent"></a> 
                                {% else %}
                                <a title="点击收藏" href="#" class="ui-btn ui-corner-all ui-icon-nofav ui-btn-icon-notext ui-btn-c ui-btn-inline ui-btn-transparent"></a> 
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td> <span style="color:#df902b;">实名房源100%认证</span> </td>
                            <td class="text-right">{{num_fav_users}}人已收藏 </td>
                        </tr>
                    </table>
                </div>

                <div class="ui-grid-solo padding-div">
                    <table class="houseinfo-table" style="width: 100%">
                        <tr><td>租金：</td><td class="val">{{min_price}}元/月</td></tr>
                        <tr><td>房型：</td><td class="val">{{num_bedroom}}室{{num_livingroom}}厅</td>
                            <td>租房方式：</td><td class="val">
                                {% if (type == 0) %} 整租 {% else %} 合租 {% endif %}
                            </td>
                        </tr>
                        <tr>     
                            {% if (type == 0) %} 
                            <td>房屋面积：</td><td class="val">{{rooms[0].area}}平米</td>
                            <td>入住时间：</td><td class="val">{{rooms[0].date_entrance}}</td>
                            {% endif %}
                        </tr>
                    </table>
                </div>

                <div data-template data-has="tags" class="ui-grid-solo" style="background: white!important; padding: 4px 4px; margin-top:10px;">

                    <span data-template-for="tags" class="keywords-label2">{{name}}</span>
                    <!--<span class="keywords-label blue">性价比超高</span>
                    <span class="keywords-label green">萝莉正太啥都有</span>
                    <span class="keywords-label yellow">便宜</span>
                    <span class="keywords-label red">现代化自动</span>-->
                </div>

                <a id="edit-house-link" style="display:none" class="ui-btn">修改房间信息</a>
                <a id="reserve-house-link" href="choose_date.html?id={{id}}" class="ui-btn">预约看房</a>

                {% if (type == 1) %} 
                <h3 class="padding-div">单间信息</h3>
                <div class="ui-grid-solo white-div">
                    <div id="room-div">
                        <div class="room-item" data-template-for="rooms">         
                            <span>  {{name | default '房间'}} </span><br> 
                            <span>  {{price}} 元/月 </span><br> 
                            <span>  {{date_entrance}} </span><br> 
                            {% if (status == 0) %} 
                            <span class="room-no-taken"> 可入住 <span>
                            {% else %}
                            <span class="room-taken"> 已出租 <span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}

                <h3 class="padding-div">周边高校</h3>
                <div class="ui-grid-solo white-div"> 
                    <div id="school-div">
                        <div class="school-item">
                            <img src="images/school/pku.png" alt="" />
                            <p>北京大学</p>
                        </div>

                        <div class="school-item">
                            <img src="images/school/thu.png" alt="" />
                            <p>清华大学</p>
                        </div>

                        <div class="school-item">
                            <img src="images/school/ruc.png" alt="" />
                            <p>人民大学</p>
                        </div>
                    </div>
                </div>

                    <h3 class="padding-div">小地图</h3>
                    <div class="ui-grid-solo">
                        <center>
                            <a href="#"><img class="home-img" src="images/house/map.jpg" data-src="{{community.map}}"></img> </a>
                        </center>
                        <table class="padding-div" style="width: 100%; text-align: left; background: white;">
                            <tr><td width=50>地址：</td><td>{{address}}</td></tr>
                            <tr><td>交通：</td><td>{{community.traffic}}</td></tr>
                        </table>
                    </div>

                    <h3 class="padding-div">房间设备</h3>
                    <div id="device-item-div" class="ui-grid-solo white-div">
                        <div class="device-item" data-template-for="devices">
                            <img title="" src="images/device/chuang.png" data-src="images/device/{{name}}.png"></img>
                        </div>
                        <div class="device-item" style="padding-top: 20px;" data-after-template>
                            <a href="devices.html?id={{id}}" style="color: #999999; text-decoration: none; padding-top: 20px; font-size: 0.7em;">更多设备</a>
                        </div>
                    </div>

                    <h3 class="padding-div">关于房东</h3>
                    <div class="ui-grid-solo white-div">
                        <div style="width: 20%; display: inline-block; vertical-align: top;">
                            <center>
                                <img src="images/user/user_profile.png" width="80%"></img>
                            </center>
                        </div>
                        <div style="width: 78%; display: inline-block;">
                            <table class="houseinfo-table" width="100%">
                                <tr><th width=100>无敌房东:</th><td>{{user.nickname}}</td></tr>
                                <tr><th width=100>联系电话:</th><td>{{user.mobile | default '未提供联系电话'}}</td></tr>
                                <tr><th width=100>个性签名:</th><td>{{user.status | default '暂未填写签名'}}</td></tr>
                            </table>
                        </div>
                        <a id="mail-to-landlord-link" href="message.html?from_username={{user.username}}" class="ui-btn ui-corner-all">在线联系房东</a>
                    </div>

                    <h3 class="padding-div mate-section">推荐室友</h3>
                    <div id="mate-div" class="ui-grid-solo mate-section white-div">
                        <div class="grid-one-third">
                            <center>
                                <img src="images/user/user_profile.png" width="50%"></img>
                            </center>
                        </div>
                        <div class="grid-two-third">
                            <div class="pull-right"> 
                                <a href="message.html?from_user={{recommend_user.username}}"><span class="keywords-label blue">聊一聊</span></a>
                            </div>
                            <table class="houseinfo-table">
                                <tr><td>{{recommend_user.nickname}} </td></tr>
                                <tr><td>{{recommend_user.school | default '未知学校'}} 
                                        {{recommend_user.major | default '未知院系' }}</td></tr>
                            </table>
                        </div>
                        <a href="search_mate.html" class="ui-btn ui-corner-all" style="background: #ff3057!important; border-color: #ff3057!important;">寻觅好室友</a>
                    </div>

                    <h3 class="padding-div">租房合同</h3>
                    <div class="ui-grid-solo white-div">
                        <div class="grid-one-third">
                            <center>
                                <a target="_blank" href="download/contract.docx"><img src="images/house/contract.png" width="50%"></img></a> 
                            </center>
                        </div>
                    </div>
                    <br /><br />
                </div>  
                <!-- ./MAIN -->

            </div>
            <!-- ./PAGE -->

            <div id="nav-footer" data-role="footer" data-position="fixed">
                <div data-role="navbar" data-iconpos="top">
                    <ul>
                        <li><a href="index.html" data-icon="home" class="ui-btn-active">房蜜</a></li>
                        <li><a href="user.html" data-icon="user">个人账户</a></li>
                        <li><a href="about.html" data-icon="info">关于房蜜</a></li>
                        <li><a href="setting.html" data-icon="gear">设置</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->

        </body>
    </html>
