<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>房蜜</title>
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="css/themes/flat/jquery.mobile.flatui.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.mobile-1.4.5.min.js"></script>
        <script src="js/tempo.min.js" type="text/javascript"></script>
    </head>

    <body>
        <div id="myhouselist-page" data-role="page">
            <!-- HEADER -->
            <div data-role="header">
				<a href="landlord.html" class="ui-btn-transparent" data-icon="back" data-iconpos="notext" data-shadow="true" data-iconshadow="true">返回</a>
                <h2 class="grey-header">我的房子</h2>
                <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
                <link rel="stylesheet" href="owl-carousel/owl.theme.css">
                <script src="owl-carousel/owl.carousel.js"></script>
                <script src="js/main.js"></script>
                <script src="js/app/apartment.js"></script>
            </div>
            <!-- ./HEADER -->

            <!-- MAIN -->
            <div id="myhouselist" role="main">
				<p class="padding-div">我发布的房子</p>
				<div data-template>
                <div class="ui-grid-solo white-div">
                    <h2 class="grey-header padding-div ">{{address}}</h2>
					<table class="info-table">
						<tr>
							<td>房型：</td>
                            <td>{{num_bedroom}}室{{num_livingroom}}厅</td>
							<td>出租方式：</td>
                            <td>
                                {% if (type == 0) %} 
                                整租 
                                {% else %} 
                                合租 
                                {% endif %}
                            </td>
						</tr>
						<tr>
							<td>租金：</td>
                            <td>{{min_price}}元/月</td>
                            <td>
                            </td>
                            <td>
                            </td>
						</tr>
						<tr>
							<td>预约人数</td>
                            <td>{{num_reserve}} 人</td>
                            <td><a id="get_captcha" href="reserve_detail.html?id={{id}}" class="ui-btn-captcha">查看预约详情</a></td>
							<td></td>
						</tr>
                    </table>

                    <table aid="{{id}}" class="info-table room-info" style="display:none">
                        <tr data-template-for="rooms">
                            <td width=100>房间 {{_tempo.index}} 状态</td>
                            <td>
                                {% if (status == 0) %} 
                                <span> 可入住 </span>
                                {% else %}
                                <span> 可已出租</span> 
                                {% endif %}
                            </td>
                            <td>
                                {% if (status == 0) %} 
                                <a class="set-room-taken" rid="{{id}}"  href="#">标记为已出租</a>
                                {% else %}
                                <a class="set-room-no-taken" rid="{{id}}" href="#">标记为可出租</a>
                                {% endif %}
                            </td>
                        </tr>
                    </table>

                    <div class="ui-grid-a">
                        {% if (cancelled) %} 
                        <div class="ui-block-a"><a hid="{{id}}" href="#" class="btn-repost-house ui-btn ui-corner-all ui-btn-d">重新发布</a></div>
                        {% else %} 
                        <div class="ui-block-a"><a hid="{{id}}" href="#" class="btn-delete-house ui-btn ui-corner-all ui-btn-d">取消发布</a></div>
                        <div class="ui-block-b"><a href="detail.html?id={{id}}" class="ui-btn ui-corner-all">信息管理</a></div>
                        {% endif %}
                    </div>
                </div>
                <br>
            </div>

            <div data-role="popup" id="popup" class="ui-content popup-div">
                <a href="#" data-rel="back" data-role="button" data-theme="c" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
                <p id="popup-message"></p>
            </div>
        </div>  
        <!-- ./MAIN -->
    </div>
    <!-- ./PAGE -->

    <div id="nav-footer" data-role="footer" data-position="fixed">
        <div data-role="navbar" data-iconpos="top">
            <ul>
                <li><a href="index.html" data-icon="home">房蜜</a></li>
                <li><a href="user.html" data-icon="user">个人账户</a></li>
                <li><a href="about.html" data-icon="info">关于房蜜</a></li>
                <li><a href="setting.html" data-icon="gear">设置</a></li>
            </ul>
        </div><!-- /navbar -->
    </div><!-- /footer -->
</body>
</html>
